.team-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Mobile: immagine sopra e “hero” */
@media (max-width: 575.98px) {
  .font-size {
    font-size: 20px !important;
  }
}

/* Mobile: immagine sopra e “hero” */
@media (min-width: 576px) and (max-width: 1399px) {
  .font-size {
    font-size: 24px !important;
  }
}
